:root {
  --greenColor: #50c878;
  --greyColor: #e9e9e9;
}

.catalog {
  padding: 70px 0;
}
/* ----------------- */
.catalog-tabs {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
}
.catalog-tab {
  width: 220px;
  height: 50px;
  border: 2px solid var(--greenColor);
  /* border: 2px solid #d0d0d0; */
  color: #6b6b6b;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  line-height: 48px;
  transform: skewX(-25deg);
  margin: 0 5px;
  cursor: pointer;
  transition: 0.5s all;
}
.catalog-tab:hover {
  box-shadow: 3px 3px 20px var(--greenColor);
  border: none;
}
.catalog-tab div {
  transform: skewX(25deg);
}
.catalog-tab-active {
  color: #fff;
  background-color: var(--greenColor);
  border: none;
}
.catalog-cards {
  margin-top: 30px;
  display: none;
}
.catalog-cards-active {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.catalog-card {
  width: 300px;
  min-height: 440px;
  border: 2px solid var(--greenColor);
  /* border: 2px solid #e8e8e8; */
  padding: 20px 20px 26px 20px;
  overflow: hidden;
  margin-bottom: 20px;
}
.catalog-card img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 200px;
}
.card-title {
  margin-top: 20px;
  color: #0d0d0d;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.card-subtitle {
  margin-top: 16px;
  padding: 0 10px;
  color: #0d0d0d;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}
.card-descr .card-link {
  display: block;
  margin-top: 17px;
  color: #c70101;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  text-align: center;
  text-transform: uppercase;
}
.card-link:hover {
  color: #ff0000;
}
.catalog-card hr {
  border: 1px solid var(--greenColor);
  margin-top: 19px;
  margin-bottom: 21px;
  border-bottom: none;
}
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-old-price {
  color: #555;
  font-size: 14px;
  font-weight: 300;
  text-decoration: line-through;
}
.card-price {
  color: #050505;
  font-size: 20px;
  font-weight: 700;
}
.card-content {
  display: flex;
  width: calc(200% + 40px);
}
.card-descr {
  width: 50%;
  margin-right: 0;
  transform: translateX(-100%);
  transition: 0.5s all;
}
.card-descr-active {
  transform: translateX(0);
  margin-right: 20px;
}
.card-more {
  position: relative;
  width: 50%;
  margin-left: 20px;
  transform: translateX(0);
  padding-right: 20px;
  transition: 0.5s all;
  margin-bottom: 0;
}
.card-more-active {
  transform: translateX(-100%);
  margin-left: 0;
}
.card-more ul {
  list-style-type: none;
  padding-left: 19px;
}
.card-more li {
  position: relative;
  color: #555;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
}
.card-more li:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #c70101;
  left: -14px;
  top: 7px;
}
.card-more .card-link {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(calc(-50% - 19px));
  display: block;
  color: #c70101;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  text-transform: uppercase;
}

.sorted-wrapper {
  display: flex;
  margin-top: 30px;
}
.sorted-wrapper h3 {
  margin-right: 10px;
}
