:root {
  --width-animal-images: 150px;
}

/* Main styles */
main {
  background-image: url(../assets/img/background_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
}
.main-container {
  height: calc(100vh - 140px); /* Учитываем высоту header */
}

/* Main content styles */
.main-content {
  position: absolute; /* Переключаем на абсолютное позиционирование */
  top: 45%;
  right: 16px;
  transform: translateY(-50%);
  max-width: 50vw; /* Максимальная ширина не более половины экрана */
  text-align: right; /* Выравнивание текста по правому краю */
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

.slogan {
  font-size: 24px;
  color: #888;
  margin-bottom: 10px;
}

.offer {
  font-size: 18px;
  color: #333;
}

/* Медиа-запросы для адаптивного дизайна */

@media only screen and (max-width: 768px) {
  .main-content {
    position: static;
    transform: none;
    max-width: 100%;
    text-align: center;
    top: auto;
    right: auto;
    padding-top: 20px;
  }
}
