:root {
  --bg-color: #e9e9e9;
  --width-animal-images: 150px;
}

body {
  background-color: var(--bg-color);
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* Main styles */
main {
  background-image: url(../assets/img/background_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.main-container {
  position: relative; /* Чтобы контент не налазил на header */
  height: calc(100vh - 140px); /* Учитываем высоту header */
}

/* Main content styles */
.main-content {
  position: absolute; /* Переключаем на абсолютное позиционирование */
  top: 45%;
  right: 16px;
  transform: translateY(-50%);
  max-width: 50vw; /* Максимальная ширина не более половины экрана */
  text-align: right; /* Выравнивание текста по правому краю */
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

.slogan {
  font-size: 24px;
  color: #888;
  margin-bottom: 10px;
}

.offer {
  font-size: 18px;
  color: #333;
}

/* Дополнительные стили для главного контейнера */
.animal-images {
  position: absolute;
  bottom: calc(-1 * var(--width-animal-images) / 2);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.animal-images-wrapper {
  display: flex;
  justify-content: space-between;
}

.animal-images img {
  width: var(--width-animal-images); /* ширина изображения*/
  /* margin: 0 20px;*/ /* отступы между изображениями */
  border-radius: 20px;
}
