/* Box sizing rules */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol,
menu,
li,
fieldset,
pre,
form,
table,
td {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul and ol elements */
ul,
ol {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Set a default font */
  font-size: 16px; /* Set a default font size */
  line-height: 1.5;
}

/* Make images and media elements responsive */
img,
picture,
video,
audio {
  max-width: 100%;
  height: auto;
}

/* Inherit fonts for inputs, buttons, and textareas */
input,
button,
textarea,
select,
optgroup,
option {
  font: inherit;
}

/* Remove default focus outline */
:focus {
  outline: none;
}

/* Remove text decoration from links */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* Remove default button styles */
button,
input[type='button'],
input[type='submit'],
input[type='reset'],
input[type='file']::-webkit-file-upload-button,
input[type='range']::-webkit-slider-thumb {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

/* Remove blue glow from input fields on focus */
input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: none;
}
