@import './reset.css';
@import './header.css';
/* @import  url('/css/header.css'); */
@import './main.css';
@import './slider.css';
@import './catalog.css';
/* @import './_footer.css';  */

/* Container styles */
.container {
  width: 90vw;
  max-width: 1240px;
  margin: 0 auto;
}
section {
  margin-top: 50px;
}
/* Медиа-запросы для адаптивного дизайна */
@media screen and (max-width: 768px) {
  .container {
    width: 95vw; /* Уменьшаем ширину контейнера на более узких экранах */
  }

  .main-content {
    position: static;
    transform: none;
    max-width: 100%;
    text-align: center;
    top: auto;
    right: auto;
    margin-top: 20px; /* Добавляем отступ сверху */
  }

  nav {
    text-align: center;
  }
}
@media screen and (max-width: 630px) {
  nav ul {
    position: absolute;
    top: -500px;
    right: 0;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    z-index: 100;
  }

  nav ul li {
    display: block;
    margin: 20px 0;
    padding: 0 20px;
  }

  .hamburger-menu {
    display: flex;
  }
}
