@import './reset.css';
@import './header.css';
/* @import  url('/css/header.css'); */
@import './main.css';
@import './slider.css';
@import './catalog.css';
@import './map.css';
@import './popap.css';
@import './footer.css';

:root {
  --bg-color: #e9e9e9;
}

body {
  /* background-color: var(--bg-color);
  background-repeat: no-repeat;
  background-size: 100% auto; */
}

/* Container styles */
.container {
  width: 90vw;
  max-width: 1240px;
  margin: 0 auto;
}
section {
  margin-top: 50px;
  background-color: var(--bg-color);
  background-repeat: no-repeat;
  background-size: 100% auto;
}
header,
footer {
  background-color: var(--bg-color);
  background-repeat: no-repeat;
  background-size: 100% auto;
}
section,
header,
main,
footer {
  border-radius: 50px;
}

.section-title {
  /* color: yellow; */
  text-align: right;
  font-size: 32px;
  margin-bottom: 20px;
}

/* Медиа-запросы для адаптивного дизайна */
@media screen and (max-width: 768px) {
  .container {
    width: 95vw;
  }

  .main-content {
    position: static;
    transform: none;
    max-width: 100%;
    text-align: center;
    top: auto;
    right: auto;
    margin-top: 20px;
  }

  nav {
    text-align: center;
  }
}
@media screen and (max-width: 630px) {
  nav ul {
    position: absolute;
    top: -500px;
    right: 0;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 100%;
    border-radius: 50px;
    transition: all 1s ease;
    z-index: 100;
  }

  nav ul li {
    display: block;
    margin: 20px 0;
    padding: 20px;
  }

  .hamburger-menu {
    display: flex;
  }
}
